Nombre=nivel2
#  CajaX=[Nombre] , [Simbolo] , [Instancias] , [PosX] , [PosY]
Caja 1=Chocolates , C ,8 ,43 ,19
Caja 2=Flores , F ,5 ,19 ,15
orquestador=192.168.:8000
TiempoChequeoDeadlock=10000000
Recovery=1
ip_nivel=192.168.:7003
